ion-content {
  .odd {
    background-color: #51b147;
  }

  .even {
    background-color: #59a8f2;
  }

  .btn-prev, .btn-next {
    position: absolute;
    display: none;
    font-size: 66px;
    top: calc(50% - 33px);
    opacity: 0.5;
    z-index: 10;
  }

  .btn-prev {
    left: 10px;
  }

  .btn-next {
    right: 10px;
  }

  &:hover, &:focus {
    .btn-prev, .btn-next {
      display: block;
    }
  }

}
