

<ion-navbar hideBackButton *navbar primary>
  <ion-buttons left>
    <button class="star-amount">
      {{data.stars}}
      <ion-icon name="star"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button>
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<ion-content class="game-explore-japan">
  <ion-slides #questionSlider [options]="sliderOptions">
    <ion-slide class="sushi">
      <div class="title">
        Sushi
      </div>
      <div class="list-round">
        <div class="round" *ngFor="let e of data.sushi; let i = index"
          (click)="playRound('sushi')">
          {{roundLabels[i]}}
          <div class="round-star">
            <img src="images/sushi-icon-active.png" class="star active" *ngFor="let c of iter[e]" />
            <img src="images/sushi-icon.png" class="star" *ngFor="let c of iter[3 - e]" />
          </div>
        </div>

      </div>
    </ion-slide>

    <ion-slide class="tra-dao">
      <div class="title">
        Sadou
      </div>
      <div class="list-round">
        <div class="round" *ngFor="let e of data.sadou; let i = index"
          (click)="playRound('sadou')">
          {{roundLabels[i]}}
          <div class="round-star">
            <img src="images/tea-icon-active.png" class="star active" *ngFor="let c of iter[e]" />
            <img src="images/tea-icon.png" class="star" *ngFor="let c of iter[3 - e]" />
          </div>
        </div>

      </div>
    </ion-slide>

    <ion-slide class="ikebana">
      <div class="title">
        Ikebana
      </div>
      <div class="list-round">
        <div class="round" *ngFor="let e of data.ikebana; let i = index"
          (click)="playRound('ikebana')">
          {{roundLabels[i]}}
          <div class="round-star">
            <img src="images/flower-icon-active.png" class="star active" *ngFor="let c of iter[e]" />
            <img src="images/flower-icon.png" class="star" *ngFor="let c of iter[3 - e]" />
          </div>
        </div>

      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
