

.star-amount {
  font-size: 20px;
  padding-left: 10px;
}

.game-explore-japan {

  $sushiImages: ('../../images/sushi-1.png',
    '../../images/sushi-2.jpg');

  $sushiImg: nth($sushiImages, random(length($sushiImages)));

  .title {
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #E61770;
    font-weight: bold;
    font-family: 'Risque', Fallback, sans-serif;
  }

  .sushi {
    background: url($sushiImg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .list-round {
      width: 100%;
      height: 500px;
      // margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .round {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: #32db64;
        border: 5px solid #E61770;
        border-radius: 10px;
        font-size: 40px;
        color: #E61770;
        margin: 0;

        .round-star {
          position: absolute;
          bottom: 5px;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .star {
            width: 23px;
            height: 23px;
          }

          .active {
            width: 33px;
            height: 33px;
          }
        }
      }
    }
  }

  $tradaoImages: ('../../images/tra-dao-1.jpg',
    '../../images/tra-dao-2.jpg');

  $tradaoImg: nth($tradaoImages, random(length($tradaoImages)));

  .tra-dao {
    background: url($tradaoImg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .list-round {
      width: 100%;
      height: 500px;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .round {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: #32db64;
        border: 5px solid #E61770;
        border-radius: 10px;
        font-size: 40px;
        color: #E61770;

        .round-star {
          position: absolute;
          bottom: 5px;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .star {
            width: 22px;
            height: 22px;
          }

          .active {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }

  $ikebanaImages: ('../../images/ikebana-1.jpg',
    '../../images/ikebana-2.jpg');

  $ikebanaImg: nth($ikebanaImages, random(length($ikebanaImages)));

  .ikebana {
    background: url($ikebanaImg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .list-round {
      width: 100%;
      height: 500px;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .round {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: #32db64;
        border: 5px solid #E61770;
        border-radius: 10px;
        font-size: 40px;
        color: #E61770;

        .round-star {
          position: absolute;
          bottom: 5px;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .star {
            width: 22px;
            height: 22px;
          }

          .active {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
