<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'Add_word' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addNewPlaylist()" icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-buttons end>
    <button ion-button color="secondary" clear (click)="save()">
      {{'Save' | translate}}
    </button>
    <button ion-button color="danger" clear (click)="close()">
      {{'Close' | translate}}
    </button>
  </ion-buttons>
  <ion-list>
    <button ion-item text-wrap *ngFor="let playlist of playlists">
      <ion-label class="playlist-item">
        <ion-checkbox [(ngModel)]="playlist.checked"
          (click)="togglePlaylist(playlist)">
        </ion-checkbox>
        <ion-badge class="playlist-icon">
          <ion-icon large name="musical-notes"></ion-icon>
        </ion-badge>
        <div>
          <h2>{{playlist.name}}</h2>
          <p>{{playlist.words.length}} {{'word' | translate}}</p>
        </div>
      </ion-label>
    </button>
  </ion-list>
</ion-content>
