<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MINAGOI</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home-page">
  <ion-card>
    <ion-card-header>
      {{'Newest_NHK' | translate}}
    </ion-card-header>
    <button ion-button class="btn-load-news" *ngIf="!latestNews && !loadingNews"
      (click)="downloadNews()">
      {{'Download_news' | translate}}
    </button>
    <i class="fa fa-refresh fa-spin fa-3x fa-fw news-loading"
      *ngIf="loadingNews">
    </i>
    <div class="card-news" *ngIf="!loadingNews && !!latestNews">
      <img src="assets/images/bg_newstitle.gif" class="img-news" />
      <div class="title">
        <span [innerHTML]="latestNews.titleWithRuby"></span>
        <div class="date">
          {{latestNews.dateText}}
        </div>
      </div>
    </div>
    <ion-row *ngIf="!loadingNews && !!latestNews">
      <ion-col text-center>
        <button ion-button color="primary" clear full small (click)="goToDetail()">
          {{'Detail' | translate}}
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button color="primary" clear full small (click)="listAllNews()">
          {{'List_all' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card *ngFor="let course of courses; let i = index">
    <div class="card-course">
      <div class="left-side">
        <div class="course-title">{{course.name}}</div>
      </div>
      <div class="right-side">
        <div class="number-units">
          {{course.noUnits}} {{'Unit' | translate}}
        </div>
        <div class="number-words">
          {{course.noWords}} {{'Word' | translate}}
        </div>
        <div class="number-comments">
          0 {{'Comment' | translate}} <i class="fa fa-comment"></i>
        </div>
        <div class="rating">
          <span>☆</span>
          <span class="focus">☆</span>
          <span>☆</span>
          <span>☆</span>
          <span>☆</span>
        </div>
        <button ion-button color="primary" class="btn-start" *ngIf="course.downloaded" (click)="goToCourse(course)" icon-left>
          <ion-icon name="navigate"></ion-icon>
          {{'Start' | translate}}
        </button>
        <button ion-button color="primary" class="btn-download" *ngIf="!course.downloaded" (click)="downloadCourse(course, i)" [disabled]="course.downloading" icon-left>
          <ion-icon name="download"></ion-icon>
          {{'Download' | translate}}
        </button>
        <i class="fa fa-spinner fa-spin progress" color="primary"
          *ngIf="!course.downloaded && course.downloading"></i>
        <button ion-button color="danger" clear round class="btn-delete"
          *ngIf="course.downloaded" (click)="deleteCourse(course)" icon-only>
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </ion-card>
</ion-content>
