// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../pages/home-page/home-page";
@import "../pages/vocabularies-page/vocabularies-page";
@import "../pages/vocabulary-slides/vocabulary-slides";
@import "../pages/units-page/units-page";
@import "../components/bottom-audio-controller/bottom-audio-controller";
