// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@font-face {
  font-family: 'Taviraj';
  src: url('../../fonts/Taviraj/Taviraj-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Risque';
  src: url('../../fonts/Risque/Risque-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Patrick_Hand';
  src: url('../../fonts/Patrick_Hand/PatrickHand-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Lobster';
  src: url('../../fonts/Lobster/Lobster-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Effra';
  src: url('../../fonts/Effra/iCielEffra-Regular.otf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Linotte';
  src: url('../../fonts/Linotte/r0c0i - Linotte Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Linotte/r0c0i - Linotte Heavy.ttf') format('truetype'),
       url('../../fonts/Linotte/r0c0i - Linotte Light.ttf') format('truetype'),
       url('../../fonts/Linotte/r0c0i - Linotte Regular.ttf') format('truetype'),
       url('../../fonts/Linotte/r0c0i - Linotte Semi Bold.ttf') format('truetype');
}
* {
  font-family: 'Taviraj', Fallback, sans-serif;
}
@import "font-awesome";

@import "../pages/home-page/home-page";
@import "../pages/news-page/news-page";
@import "../pages/news-detail/news-detail";
@import "../pages/words-page/words-page";
@import "../pages/word-slides/word-slides";
@import "../pages/units-page/units-page";
@import "../components/audio-setting/audio-setting";
@import "../components/audio-player/audio-player";
@import "../components/audio-bar/audio-bar";
@import "../components/custom-checkbox/custom-checkbox";
@import "../components/playlist-options/playlist-options";
@import "../components/selected-words/selected-words";
@import "../pages/playlists-page/playlists-page";
@import "../pages/playlist-detail/playlist-detail";
@import "../pages/setting-page/setting-page";
@import "../pages/feedback-page/feedback-page";
@import "../pages/game-page/game-page";
@import "../pages/game-multiple-choice/game-multiple-choice";
@import "../pages/multiple-choice-slides/multiple-choice-slides";
@import "../pages/game-explore-japan/game-explore-japan";
@import "../pages/explore-japan-round/explore-japan-round";
@import "../app";
// @import "../pages/login-page/login-page";
