// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@font-face {
  font-family: 'Taviraj';
  src: url('../../fonts/Taviraj/Taviraj-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Risque';
  src: url('../../fonts/Risque/Risque-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
* {
  font-family: 'Taviraj', Fallback, sans-serif;
}
@import "font-awesome";

@import "../pages/home-page/home-page";
@import "../pages/news-page/news-page";
@import "../pages/news-detail/news-detail";
@import "../pages/words-page/words-page";
@import "../pages/word-slides/word-slides";
@import "../pages/units-page/units-page";
@import "../components/audio-setting/audio-setting";
@import "../components/audio-player/audio-player";
@import "../components/audio-bar/audio-bar";
@import "../components/custom-checkbox/custom-checkbox";
@import "../components/playlist-options/playlist-options";
@import "../components/selected-words/selected-words";
@import "../pages/playlists-page/playlists-page";
@import "../pages/playlist-detail/playlist-detail";
@import "../pages/setting-page/setting-page";
@import "../pages/feedback-page/feedback-page";
@import "../app";
// @import "../pages/login-page/login-page";
