page-word-page {
    ion-slides {
        height: 50px;
    }

    .btn-prev, .btn-next {
        position: absolute;
        // display: none;
        font-size: 40px;
        top: calc(50% - 22px);
        opacity: 0.2;
        z-index: 5;
    }

    .btn-prev {
    left: 10px;
    }

    .btn-next {
    right: 10px;
    }

    ion-toolbar:hover, :focus {
        .btn-prev, .btn-next {
           opacity: 1;
        }
    }
}
