ion-content {
  background-color: rgba(56, 125, 245, 0.2);
}

.title {
  width: 100%;
  font-size: 80px;
  text-align: center;
  padding-top: 30%;
  // text-shadow: 1px 1px 1px #000;
  // text-shadow: 0 1px 0 #ccc,
  //              0 2px 0 #c9c9c9,
  //              0 3px 0 #bbb,
  //              0 4px 0 #b9b9b9,
  //              0 5px 0 #aaa,
  //              0 6px 1px rgba(0,0,0,.1),
  //              0 0 5px rgba(0,0,0,.1),
  //              0 1px 3px rgba(0,0,0,.3),
  //              0 3px 5px rgba(0,0,0,.2),
  //              0 5px 10px rgba(0,0,0,.25),
  //              0 10px 10px rgba(0,0,0,.2),
  //              0 20px 20px rgba(0,0,0,.15);
  // font: italic bold 70px Georgia, Serif;
  // text-shadow: -4px 3px 0 #3a50d9, -10px 7px 0 #0a0e27;
}

.btn-facebook {
  margin: 0 5%;
  margin-bottom: 10%;
  font-size: 22px;
  height: 50px;

  .icon-facebook {
    font-size: 32px;
    margin-right: 15px;
  }
}

.card-course {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;

  .left-side {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    background: linear-gradient(white, #32db64);
    padding: 0 20px;

    .course-title {
      font-size: 45px;
      font-weight: bold;
      color: #387ef5;
    }
  }

  .right-side {
    width: 100%;
    height: 100%;
    padding: 20px 5px 10px 20px;

    .number-units, .number-words {
      font-size: 18px;
      font-weight: 500;
    }

    .number-words {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .number-comments {
      font-weight: 500;
      margin-bottom: 5px;
      font-size: 16px;

      .fa-comment {
        font-size: 18px;
        margin-right: 5px;
      }
    }

    .rating {
      float: left;
      unicode-bidi: bidi-override;
      direction: rtl;
    }
    .rating > span {
      display: inline-block;
      position: relative;
      width: 1em;
      font-size: 22px;
    }
    .rating > span.focus,
    .rating > span.focus ~ span {
      color: transparent;
    }
    .rating > span.focus:before,
    .rating > span.focus ~ span:before {
      content: "\2605";
      position: absolute;
      left: 0;
      color: gold;
    }
  }

  .btn-start {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.progress-bar {
  height: 5px;
  width: 100%;
  background-color: white;

  .percent-bar {
    height: 100%;
    background-color: #387ef5;
  }
}

.fa-facebook-square {
  font-size: 2.4rem;
  margin-right: 35px;
  // min-height: 2.4rem;
  // font-size: 40px;
}
