

<ion-navbar *navbar primary>
  <button class="star-amount">
    10
    <ion-icon name="star"></ion-icon>
  </button>
  <ion-buttons end>
    <button>
      <ion-icon name="pause"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<ion-content class="game-explore-japan">
  <ion-slides #questionSlider [options]="sliderOptions">
    <ion-slide class="sushi">
      <div class="title">
        Sushi
      </div>
      <div class="list-round">
        <div class="round" *ngFor="let i of ['一','二','三','四','五','六','七','八','九']">
          {{i}}
          <div class="round-star">
            <img src="images/sushi-icon-active.png" class="star active" />
            <img src="images/sushi-icon-active.png" class="star active" />
            <img src="images/sushi-icon.png" class="star" />
          </div>
        </div>

      </div>
    </ion-slide>

    <ion-slide class="tra-dao">
      <div class="title">
        Sabou
      </div>
      <div class="list-round">
        <div class="round" *ngFor="let i of ['一','二','三','四','五','六','七','八','九']">
          {{i}}
          <div class="round-star">
            <img src="images/tea-icon-active.png" class="star active" />
            <img src="images/tea-icon-active.png" class="star active" />
            <img src="images/tea-icon.png" class="star" />
          </div>
        </div>

      </div>
    </ion-slide>

    <ion-slide class="ikebana">
      <div class="title">
        Ikebana
      </div>
      <div class="list-round">
        <div class="round" *ngFor="let i of ['一','二','三','四','五','六','七','八','九']">
          {{i}}
          <div class="round-star">
            <img src="images/flower-icon-active.png" class="star active" />
            <img src="images/flower-icon-active.png" class="star active" />
            <img src="images/flower-icon.png" class="star" />
          </div>
        </div>

      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
