<ion-header class="multiple-choice-header">
  <div class="question-number">1/10</div>
  <div class="countdown">
    <ion-icon name="timer"></ion-icon>
    60
  </div>
  <button large>
    <ion-icon name="close"></ion-icon>
  </button>
</ion-header>
<ion-content class="multiple-choice-slides">
  <ion-slides #questionSlider [options]="sliderOptions"
    (ionDidChange)="onSlideChanged($event)">
    <ion-slide class="question-slide"
      [class.odd]="true" [class.even]="false">
      <div class="question" *ngIf="true">
        question question question
      </div>
      <i class="fa fa-volume-up question" *ngIf="false"></i>
      <div class="option activated">
        question option[0]
      </div>
      <div class="option disabled">
        question option[1]
      </div>
      <div class="option">
        question option[2]
      </div>
      <div class="option">
        question option[3]
      </div>
      <i class="fa fa-check answer" primary *ngIf="false"></i>
      <i class="fa fa-close answer" danger *ngIf="true"></i>
    </ion-slide>
  </ion-slides>
</ion-content>
