<!--<ion-navbar *navbar primary>
  <ion-title>Add word to</ion-title>
  <ion-buttons end>
    <button (click)="addNewPlaylist()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>
  <ion-list>
    <ion-item button-primary text-wrap *ngFor="let playlist of playlists">
      <ion-badge item-left>
        <ion-icon large name="musical-notes"></ion-icon>
      </ion-badge>
      <ion-label>
        <h2>{{playlist.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>-->
<ion-content padding>
  <h2>I'm a modal!</h2>
  <button (click)="close()">Close</button>
</ion-content>`
