<div class="bottom-audio-controller">
  <marquee class="audio-title">
    {{currentTrack.title || 'Please select a track to play'}}
  </marquee>
  <div class="audio-control-group">
    <button>
      <ion-icon name="skip-backward"></ion-icon>
    </button>
    <button outline round large class="btn-play"
      (click)="(currentTrack.isPlaying && currentTrack.playedPercent < 99) ? pause() : play()">
      <ion-icon [name]="(currentTrack.isPlaying && currentTrack.playedPercent < 99) ? 'pause' : 'play'"></ion-icon>
    </button>
    <button>
      <ion-icon name="skip-forward"></ion-icon>
    </button>
  </div>
  <div class="audio-info">
    {{currentTrack.playedTime}}
    <div class="audio-bar" (click)="seek($event)">
      <div class="progress-bar" [style.width.%]="currentTrack.playedPercent"></div>
      <div class="btn-seek" [style.left.%]="currentTrack.playedPercent - 5"></div>
    </div>
    {{currentTrack.duration}}
  </div>
</div>
