<div class="bottom-audio-controller" (click)="goToSlides()">
  <marquee class="audio-title">
    {{currentTrack.title || 'Please select a track to play'}}
  </marquee>
  <div class="audio-control-group">
    <button [class.disabled]="!isRepeat" (click)="toggleRepeat($event)">
      <ion-icon name="repeat"></ion-icon>
    </button>
    <button outline round large class="btn-play"
      (click)="(currentTrack.isPlaying && currentTrack.playedPercent < 99) ? pause($event) : play($event)">
      <ion-icon [name]="(currentTrack.isPlaying && currentTrack.playedPercent < 99) ? 'pause' : 'play'"></ion-icon>
    </button>
    <button [class.disabled]="!isShuffle" (click)="toggleShuffle($event)">
      <ion-icon name="shuffle"></ion-icon>
    </button>
  </div>
  <ion-range [(ngModel)]="currentTrack.playedPercent"
    (ionChange)="handleSeekAudio($event)">
    <ion-label range-left>{{currentTrack.seekTime}}</ion-label>
    <ion-label range-right>{{currentTrack.duration}}</ion-label>
  </ion-range>
</div>
