.bottom-audio-controller {
  position: relative;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  background-color: white;
  z-index: 10;

  .audio-title {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .audio-control-group {
    width: 100%;
    text-align: center;

    .btn-play {
      margin: 0px 20px;
    }

    .disabled {
      opacity: 0.5;
    }
  }

  .audio-info {
    margin-top: 5px;
    text-align: center;

    .audio-bar {
      display: inline-block;
      position: relative;
      width: 65%;
      height: 5px;
      background-color: #ccc;
      margin: 0 10px;

      .progress-bar {
        position: absolute;
        left: 0;
        height: 5px;
        background-color: #387ef5;
      }

      .btn-seek {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left: 0;
        top: -10px;
        border: 1px solid #ccc;
      }
    }
  }
}
