<div class="bottom-audio-controller">
  <marquee class="audio-title">
    Course 1 - Unit 1 - Lesson 1 - ABC
  </marquee>
  <div class="audio-control-group">
    <button>
      <ion-icon name="skip-backward"></ion-icon>
    </button>
    <button outline round large class="btn-play">
      <ion-icon name="pause"></ion-icon>
    </button>
    <button>
      <ion-icon name="skip-forward"></ion-icon>
    </button>
  </div>
  <div class="audio-info">
    0:00
    <div class="audio-bar">
      <div class="progress-bar"></div>
      <div class="btn-time"></div>
    </div>
    0:30
  </div>
</div>
