
$images: ('../../images/bg-multiple-choice-1.jpg',
  '../../images/bg-multiple-choice-2.jpg',
  '../../images/bg-multiple-choice-3.png',
  '../../images/bg-multiple-choice-4.png',
  '../../images/bg-multiple-choice-5.png');

$img: nth($images, random(length($images)));

.game-multiple-choice {
  background: url($img) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .game-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50px;
    font-size: 35px;
    color: #E61770;
    font-weight: bold;
    font-family: 'Risque', Fallback, sans-serif;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-item: center;
    justify-content: center;
    height: 100%;

    .menu-item {
      border-radius: 20px;
      font-size: 20px;
      height: 45px;
      margin: 7px 15px;
      font-weight: bold;
    }

    .button-inner {
      font-family: 'Risque', Fallback, sans-serif;
    }
  }

}

.multiple-choice-rules {

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .instruction {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 15px;

    .title {
      font-size: 30px;
      color: #E61770;
      font-weight: bold;
      font-family: 'Risque', Fallback, sans-serif;
    }

    p {
      font-size: 23px;
      font-family: 'Effra', Fallback, sans-serif;
    }
  }
}


.multiple-choice-achievements {

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #E61770;
    font-weight: bold;
    font-family: 'Risque', Fallback, sans-serif;
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .achievement-item {
    display: flex;
    align-items: center;

    .achievement-level {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
  }
}
