.icon-signin {
  font-size: 2.4rem;
  margin-right: 35px;
}

.menu-item {
  display: flex;
  align-items: center;

  .menu-icon {
    width: 30px;
    font-size: 2.4rem;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }
}

.app-toolbar {
  position: relative;
  background-color: #E61770;
  color: white;
  padding: 5px 0 5px 15px;

  .app-name {
    font-size: 30px;
    font-weight: bold;
  }

  .app-version, .copyright {
    font-size: 16px;
    margin-top: -5px;
  }

  .app-fb {
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

}
