<ion-header class="multiple-choice-header">
  <ion-navbar color="primary">
    <ion-title>{{'Multiple_choice' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button large (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<div class="countdown-bar">
  <div class="current-countdown" [style.width.%]="countdownPercent"></div>
</div>
<ion-content class="multiple-choice-slides">
  <ion-slides #questionSlider [options]="sliderOptions"
    (ionDidChange)="onSlideChanged($event)">
    <ion-slide class="question-slide" *ngFor="let question of listQuestion; let i = index" [class.odd]="i % 2 == 1" [class.even]="i % 2 == 0">
      <div class="question" *ngIf="isTextQuestion(question)">
        {{question.question}}
      </div>
      <i class="fa fa-volume-up question voice" *ngIf="isVoiceQuestion(question)" (click)="playQuestion(question)"></i>
      <div class="option" (click)="select(question, 0)"
        [class.activated]="selectedOption === 0">
        <div class="bullet">A</div>
        {{question.options[0]}}
      </div>
      <div class="option" (click)="select(question, 1)"
        [class.activated]="selectedOption === 1">
        <div class="bullet">B</div>
        {{question.options[1]}}
      </div>
      <div class="option" (click)="select(question, 2)"
        [class.activated]="selectedOption === 2">
        <div class="bullet">C</div>
        {{question.options[2]}}
      </div>
      <div class="option" (click)="select(question, 3)"
        [class.activated]="selectedOption === 3">
        <div class="bullet">D</div>
        {{question.options[3]}}
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<div class="slides-progress">
  <div class="current-progress" [style.width.%]="progressPercent"></div>
</div>
<div class="answer-screen" *ngIf="selectedOption != -1">
  <i class="fa fa-check answer correct" primary *ngIf="isCorrect"></i>
  <i class="fa fa-close answer incorrect" danger *ngIf="!isCorrect"></i>
  <button ion-button class="btn-continue" (click)="next()">
    {{'Continue' | translate}}
  </button>
</div>

<div class="level-success" *ngIf="answerAll && success">
  <div class="title">{{'Congratulation' | translate}}</div>
  <div class="row">
    <div class="text">{{'Number_questions' | translate}}:</div>
    <div class="number">{{listQuestion.length}}</div>
  </div>
  <div class="group-btn">
    <button ion-button round danger (click)="close()">
      <ion-icon name="undo"></ion-icon>
      {{'Exit' | translate}}
    </button>
  </div>
</div>
<div class="level-fail" *ngIf="answerAll && !success">
  <div class="title">{{'Fail' | translate}}</div>
  <div class="group-btn">
    <button ion-button round primary (click)="playAgain()">
      <ion-icon name="sync"></ion-icon>
      {{'Test_again' | translate}}
    </button>
    <button ion-button round danger (click)="close()">
      <ion-icon name="undo"></ion-icon>
      {{'Exit' | translate}}
    </button>
  </div>
</div>
