
.playlist-navbar {
  .custom-checkbox {
    margin-right: 11px;
  }
}

.playlist-detail {
  .no-words-message {
    font-size: 20px;
    color: #777;
    font-weight: bold;
    text-align: center;
    margin: 20px;

    .bookmark {
      width: 100%;
    }

    p {
      text-align: justify;
      margin-top: 50px;
    }
  }

  .word-item {
    display: flex;
    align-items: center;

    .btn-listen {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      margin-left: -5px;
    }

    .word-content {
      width: calc(100% - 30px);
    }

    .times-played, .last-played {
      font-size: 12px;
      color: #888;
    }
    .last-played {
      margin-left: 20px;
    }

    h2 {
      span {
        word-wrap: break-word;
      }
    }
  }
}
