<ion-header>
  <ion-navbar color="primary" class="playlist-navbar">
    <ion-title>
      {{playlist.name}}
    </ion-title>
    <ion-buttons end>
      <custom-checkbox [checked]="words !== null && selectedWords.length === words.length" (onClick)="toggleSelectAll()" *ngIf="words !== null && words.length > 0">
      </custom-checkbox>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="playlist-detail">
  <div class="no-words-message" *ngIf="words !== null && words.length === 0">
    {{'Empty_list' | translate}}
    <p>
    {{'Instruction_add_word' | translate}}
    </p>
    <img class="bookmark" src="assets/images/bookmark.gif" />
  </div>
  <ion-list *ngIf="words !== null && words.length > 0">
    <ion-item-sliding *ngFor="let word of words">
      <ion-item text-wrap (click)="selectWord($event, word)">
        <ion-label class="word-item">
          <button ion-button clear large class="btn-listen"
            (click)="playWord($event, word)" icon-only>
            <ion-icon name="volume-up" large></ion-icon>
          </button>
          <div class="word-content">
            <h1 color="primary">{{word.kanji}}</h1>
            <h2>
              <span *ngIf="word.phonetic.length > 0">{{word.phonetic[0]}}</span>
              <span *ngIf="word.phonetic.length > 0 && word.meaning.length > 0">-</span>
              <span *ngIf="word.meaning.length > 0">{{word.meaning[0].mean}}</span>
            </h2>
            <span class="times-played" *ngIf="word.timesPlayed > 0">
              <ion-icon name="headset"></ion-icon> {{word.timesPlayed}}
            </span>
            <span class="last-played" *ngIf="word.timesPlayed > 0">
              <ion-icon name="calendar"></ion-icon> {{word.lastPlayed | customDate}}
            </span>
          </div>
        </ion-label>
        <custom-checkbox item-right (onClick)="checkWord($event, word)"
          [checked]="selectedWords.indexOf(word.id) >= 0">
        </custom-checkbox>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteWord(word)">
          <ion-icon name="trash" large></ion-icon><br />
          {{'Delete' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer *ngIf="words !== null && words.length > 0">
  <mod-controller></mod-controller>
</ion-footer>
