
.playlist-navbar {
  .custom-checkbox {
    margin-right: 11px;
  }
}

.playlist-detail {
  .no-words-message {
    font-size: 20px;
    color: #777;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;

    .bookmark {
      width: 100%;
      margin-top: 10px;
    }
  }
}
