
.playlist-navbar {
  .custom-checkbox {
    margin-right: 11px;
  }
}

.playlist-detail {
  .no-words-message {
    font-size: 20px;
    color: #777;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
  }
}
