.odd {
  background-color: #51b147;
}

.even {
  background-color: #59a8f2;
}

.kanji {
  font-size: 40px;
}

.example {
  margin-top: 25px;
}

.btn-prev, .btn-next {
  position: absolute;
  display: none;
  font-size: 66px;
  top: calc(50% - 33px);
  opacity: 0.5;
  z-index: 5;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}

&:hover, &:focus {
  .btn-prev, .btn-next {
    display: block;
  }
}

.btn-group {
  position: absolute;
  width: 100%;
  bottom: 15px;
  text-align: center;
  z-index: 5;

  .btn-repeat, .btn-bookmark {
    margin: 0 10px;
  }

  .disabled {
    opacity: 0.5;
  }
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.word-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
