
.btn-prev, .btn-next {
  position: absolute;
  display: none;
  font-size: 66px;
  top: calc(50% - 33px);
  opacity: 0.5;
  z-index: 5;
}

ion-slide {
  position: relative;
  background: #f4f4f4;

  .btn-close {
    position: absolute;
    z-index: 10;
    color: white;
    font-weight: bold;
  }

  .btn-group {
    position: absolute;
    top: 170px;
    right: 0;
    z-index: 10;
    display: flex;
    height: 60px;
  }

  .word-slide {
    position: absolute;
    background: white;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 10px;
    text-align: left;
    overflow-y: auto;
    padding-bottom: 20px;

    .kanji {
      font-size: 40px;
      font-weight: bold;
      background: #f55831;
      color: white;
      padding-top: 50px;
      height: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      word-wrap: break-word;
      overflow-y: auto;
    }

    .row {
      margin-top: 20px;
      margin-left: 15px;
      margin-right: 15px;

      .word-info-title{
        color: #f55831;
        font-size: xlarge;
        font-weight: bold;
        margin-left: 5px;
        margin-bottom: 10px;
      }

      .word-infor-content{
        font-size: medium;
        margin-top: 5px;

        + .word-infor-content {
          margin-top: 20px;
        }
      }
    }
  }
}


.slide-navbar {
  height: 200px;
}

.kanji {
  font-size: 40px;
  font-weight: bold;
  background: #f55831;
  color: white;
  padding: 7%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
