<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{news.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tab-news-phrases">
  <ion-list>
    <ion-item *ngFor="let word of words" text-wrap>
      <ion-label class="word-item">
        <button ion-button clear large class="btn-listen"
          (click)="playWord($event, word)" icon-only>
          <ion-icon name="volume-up" large></ion-icon>
        </button>
        <div class="word-content">
          <h1 color="primary">{{word.kanji}}</h1>
          <h2>
            <span *ngIf="word.phonetic.length > 0">
              {{word.phonetic | commaConcat}}
            </span>
            <span *ngIf="word.phonetic.length > 0 && word.meaning.length > 0">-</span>
            <span *ngIf="word.meaning.length > 0">
              {{word.meaning | commaConcat}}
            </span>
          </h2>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
