// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// @font-face {
//   font-family: 'Taviraj';
//   src: url('../assets/fonts/Taviraj/Taviraj-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
// }
// @font-face {
//   font-family: 'Risque';
//   src: url('../assets/fonts/Risque/Risque-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
// }
// @font-face {
//   font-family: 'Patrick_Hand';
//   src: url('../assets/fonts/Patrick_Hand/PatrickHand-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
// }
// @font-face {
//   font-family: 'Lobster';
//   src: url('../assets/fonts/Lobster/Lobster-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
// }
// @font-face {
//   font-family: 'Effra';
//   src: url('../assets/fonts/Effra/iCielEffra-Regular.otf') format('truetype'); /* Safari, Android, iOS */
// }
// @font-face {
//   font-family: 'Linotte';
//   src: url('../assets/fonts/Linotte/r0c0i - Linotte Bold.ttf') format('truetype'), /* Safari, Android, iOS */
//        url('../assets/fonts/Linotte/r0c0i - Linotte Heavy.ttf') format('truetype'),
//        url('../assets/fonts/Linotte/r0c0i - Linotte Light.ttf') format('truetype'),
//        url('../assets/fonts/Linotte/r0c0i - Linotte Regular.ttf') format('truetype'),
//        url('../assets/fonts/Linotte/r0c0i - Linotte Semi Bold.ttf') format('truetype');
// }
// * {
//   font-family: 'Taviraj', Fallback, sans-serif;
// }



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// $colors: (
//   primary:    #387ef5,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222
// );

$colors: (
  primary:    #f55831,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  success:    #4A8BFC,
  favorite:   #99B898,
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
