
.words-page {
  .word-item {
    display: flex;
    align-items: center;

    .word-bookmark {
      width: 30px;
      height: 30px;
      margin-right: 20px;

      .icon-bookmark {
        font-size: 1.6em;
      }

      &.hidden {
        display: none;
      }
    }

    .times-played, .last-played {
      font-size: 12px;
      color: #888;
    }
    .last-played {
      margin-left: 20px;
    }
  }
}

.words-navbar {
  .custom-checkbox {
    margin-right: 11px;
  }
}
