
.units-page {
  .unit-item {
    display: flex;
    align-items: center;

    .unit-number {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
  }
}
