<ion-navbar *navbar>
  <ion-title>Mimi Kara Nihongo</ion-title>
</ion-navbar>

<ion-content padding>
  <ion-list [virtualScroll]="courses">
    <ion-item button-primary *virtualItem="let course"
      (click)="selectCourse(course)">
      <ion-avatar item-left>
        <ion-img [src]="course.icon"></ion-img>
      </ion-avatar>
      <h2>{{course.title}}</h2>
      <ion-spinner item-right name="bubbles" *ngIf="course.downloading"></ion-spinner>
      <button outline round item-right (click)="downloadCourse($event, course)"
        *ngIf="!course.downloading && course.percentDownloaded < 100">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
      <button danger outline round item-right (click)="deleteCourse($event, course)"
        *ngIf="course.percentDownloaded == 100">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button class="btn-detail" clear item-right (click)="goToCourse($event, course)">
        &#8226;&#8226;&#8226;
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<bottom-audio-controller></bottom-audio-controller>

