
.game-page {
  background-color: rgba(56, 125, 245, 0.2);

  .card-game {
    position: relative;
    display: flex;
    justify-content: center;

    .game-icon {
      width: 80px;
      height: 100px;
    }

    .right-side {
      flex-grow: 1;
      padding: 10px 5px 0 20px;

      .game-title {
        font-size: 22px;
        color: #E61770;
        font-weight: bold;
        font-family: 'Linotte', Fallback, sans-serif;
      }

      .game-level {
        font-size: 18px;
        color: #555;
      }
    }

    .btn-start {
      position: absolute;
      bottom: 5px;
      right: 5px;
      padding-right: 10px;
    }
  }
}
