
.game-page {
  background-color: rgba(56, 125, 245, 0.2);

  .card-game {
    position: relative;
    display: flex;
    justify-content: center;

    .game-icon {
      width: 80px;
      height: 100px;
    }

    .right-side {
      flex-grow: 1;
      padding: 10px 5px 0 20px;

      .game-title {
        font-size: 22px;
        color: #E61770;
        font-weight: bold;
        font-family: 'Risque', Fallback, sans-serif;
      }

      .game-level {
        font-size: 18px;
        color: #555;
      }

      .rating {
        float: left;
        unicode-bidi: bidi-override;
        direction: rtl;
      }
      .rating > span {
        display: inline-block;
        position: relative;
        width: 1em;
        font-size: 15px;
      }
      .rating > span.focus,
      .rating > span.focus ~ span {
        color: transparent;
      }
      .rating > span.focus:before,
      .rating > span.focus ~ span:before {
        content: "\2605";
        position: absolute;
        left: 0;
        color: #E61770;
      }
    }

    .btn-start {
      position: absolute;
      bottom: 5px;
      right: 5px;
      padding-right: 10px;
    }
  }
}
