
.game-page {
  background:
  linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
  linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
  linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
  linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
  linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
  linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

  linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
  linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
  linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
  linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
  linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
  linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
  background-color: #232927;
  background-size: 100px 100px;

  text-align: center;

  .card-game {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: color($colors, light);
    margin: 40px auto 10px auto;
    border-radius: 10px;
    padding: 5px;
    padding-bottom: 10px;

    .game-icon {
      width: 100%;
      height: 150px;
      border-radius: 10px;
    }

    .game-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 28px;
      color: color($colors, dark);
      font-weight: bold;
      font-family: 'Risque', Fallback, sans-serif;
      margin: 5px 0;
      text-shadow: 1px 1px 1px color($colors, dark);
    }
  }

  .game-1 {
    z-index: 1;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
  }

  .game-2 {
    z-index: 3;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
  }

  .btn-exit-game {
    position: absolute;
    bottom: 5px;
    left: -20px;
    width: 100px;
    height: 100px;
    background-color: color($colors, light);

    .exit-game-icon {
      width: 40px;
    }
  }
}
