
.multiple-choice-header {
  background: #E61770;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  color: white;

  .quote {
    width: 80%;
    margin-left: 5px;
    font-size: 24px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Patrick_Hand', Fallback, sans-serif;
  }
}

.multiple-choice-slides {
  position: relative;

  .btn-prev, .btn-next {
    position: absolute;
    display: none;
    font-size: 66px;
    top: calc(50% - 33px);
    opacity: 0.5;
    z-index: 5;
  }

  .question {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    padding: 0 10px;
    color: white;

    &.voice {
      font-size: 40px;
    }
  }

  .btn-listen {
    margin-bottom: 50px;
  }

  .option {
    position: relative;
    width: 90%;
    height: 50px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin: 10px auto;
    border-radius: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .bullet {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .activated {
    background: #E61770;
    color: white;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .odd {
    background-color: #51b147;
  }

  .even {
    background-color: #59a8f2;
  }
}

.slides-progress {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #777;

  .current-progress {
    position: absolute;
    background-color: #E61770;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
  }
}

.countdown-bar {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: white;

  .current-countdown {
    position: absolute;
    background-image: linear-gradient(
      to right,
      red, #f06d06
    );
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}

.answer-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .answer {
    font-size: 200px;
  }

  .btn-continue {
    font-size: 20px;
    height: 50px;
    width: 60%;
    border-radius: 25px;
  }
}


.level-success {
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  background: #E61770;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;

  .level {
    position: absolute;
    top: -20px;
    width: 200px;
    height: 40px;
    left: calc(50% - 100px);
    border-radius: 20px;
    border: 2px solid white;
    font-size: 20px;
    background: #E61770;
    font-family: 'Lobster', Fallback, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Lobster', Fallback, sans-serif;
    margin-bottom: 30px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    .text {
      color: white;
      font-size: 22px;
    }

    .number {
      color: white;
      font-size: 30px;
      font-weight: bold;
    }
  }

  .group-btn {
    margin-top: 100px;
  }
}


.level-fail {
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  background: #FFC107;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;

  .level {
    position: absolute;
    top: -20px;
    width: 200px;
    height: 40px;
    left: calc(50% - 100px);
    border-radius: 20px;
    border: 2px solid white;
    font-size: 20px;
    background: #FFC107;
    font-family: 'Lobster', Fallback, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Lobster', Fallback, sans-serif;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;

    .text {
      color: white;
      font-size: 22px;
    }

    .number {
      color: white;
      font-size: 30px;
      font-weight: bold;
    }
  }

  .group-btn {
    margin-top: 100px;
  }
}
