page-modal-download-page {
    .downloadInfor{
        margin-top: 20%;
    }
    
    .appInfor {
        margin-top: 50%;
        .title {
            font-size: 40px;
        }
        .version{
            color: #f55831;
            font-weight: bold;
        }
    }
}
