<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'Matching_words' | translate}}</ion-title>
    <ion-buttons end *ngIf="playing">
      <button ion-button large (click)="pause()" icon-only>
        <ion-icon name="pause"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="matching-words">
  <div class="countdown-bar-round">
    <div class="current-countdown" [style.width.%]="countdownPercent"></div>
  </div>
  <div class="grid">
    <div class="cell" *ngFor="let cell of listCell; let ind = index"
      (click)="selectCell(ind)" [class.highlight]="cell.correct">
      <div class="cell-text" [hidden]="!cell.flip">{{cell.text}}</div>
      <div class="label" [hidden]="cell.flip">{{ind + 1}}</div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="round-progress">
    <div class="current-progress" [style.width.%]="progressPercent"></div>
  </div>
</ion-footer>

<div class="waiting" *ngIf="!playing">
  <button ion-button class="btn-play" clear (click)="play()" icon-only>
    <ion-icon name="play"></ion-icon>
  </button>
</div>

<div class="matching-words-success" *ngIf="endQuiz && success">
  <div class="title">{{'Congratulation' | translate}}</div>
  <div class="row">
    <div class="text">{{'Complete_time' | translate}}:</div>
    <div class="number">{{10}} {{'minute' | translate}} {{00}} {{'second' | translate}}</div>
  </div>
  <button class="btn-exit" ion-button round color="danger" (click)="close()" icon-left>
    <ion-icon name="undo"></ion-icon>
    {{'Exit' | translate}}
  </button>
</div>
<div class="matching-words-fail" *ngIf="endQuiz && !success">
  <div class="title">{{'Fail' | translate}}</div>
  <div class="group-btn">
    <button ion-button round color="primary" (click)="testAgain()" icon-left>
      <ion-icon name="sync"></ion-icon>
      {{'Test_again' | translate}}
    </button>
    <button ion-button round color="danger" (click)="close()" icon-left>
      <ion-icon name="undo"></ion-icon>
      {{'Exit' | translate}}
    </button>
  </div>
</div>
