<div class="audio-player">
  <button round large class="btn-play"
    (click)="(currentTrack.isPlaying && currentTrack.playedPercent < 99) ? pause($event) : play($event)">
    <ion-icon [name]="(currentTrack.isPlaying && currentTrack.playedPercent < 99) ? 'pause' : 'play'"></ion-icon>
  </button>
  <ion-range [(ngModel)]="currentTrack.playedPercent"
    (ionChange)="handleSeekAudio($event)">
    <ion-label range-left>{{currentTrack.seekTime}}</ion-label>
    <ion-label range-right>{{currentTrack.duration}}</ion-label>
  </ion-range>
</div>
