

<ion-navbar hideBackButton *navbar primary>
  <ion-buttons left>
    <button (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button (click)="pause()" *ngIf="true">
      <ion-icon name="pause"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<div class="countdown-bar">
  <div class="current-countdown" [style.width.%]="60"></div>
</div>
<ion-content class="explore-japan-round">
  <div class="grid">
    <div class="cell" *ngFor="let i of arr; let ind = index">
      <img src="images/sadou/image{{i}}.jpeg" class="cell-img" [hidden]="!flip[ind]" />
      <div class="label" [hidden]="flip[ind]">{{i}}</div>
    </div>
    <div class="cell" *ngFor="let item of listCell">
      <img [src]="item.imageUrl" class="cell-img" *ngIf="!!item.imageUrl"
        [hidden]="item.flip" />
      <div class="cell-text" *ngIf="!!item.text"
        [hidden]="item.flip">{{item.text}}</div>
      <div class="label" [hidden]="!item.flip">{{i}}</div>
    </div>
  </div>
</ion-content>
<div class="round-progress">
  <div class="current-progress" [style.width.%]="30"></div>
</div>
<div class="waiting" *ngIf="false">
  <button class="btn-play" clear>
    <ion-icon name="play"></ion-icon>
  </button>
</div>
