<div class="mod-controller">
  <ion-icon name="arrow-dropleft" class="btn-prev" (click)="prev()">
  </ion-icon>
  <ion-icon name="arrow-dropright" class="btn-next" (click)="next()">
  </ion-icon>
  <ion-slides #modControl pager [options]="modControlOptions">
    <ion-slide>
      <button ion-button icon-only outline [class.disabled]="!audioService.isShuffle" (click)="toggleShuffle($event)">
        <ion-icon name="shuffle"></ion-icon>
      </button>
      <button ion-button round icon-right margin (click)="playAudio()" [disabled]="isDisable">
        {{(isContinue ? 'Continue' : 'Ready') | translate}}
        <ion-icon name="play"></ion-icon>
      </button>
      <button ion-button icon-only outline [class.disabled]="!audioService.isLoop" (click)="toggleLoop($event)">
        <ion-icon name="repeat"></ion-icon>
      </button>
    </ion-slide>

    <ion-slide>
      <button ion-button round icon-right margin (click)="startLearn()"
        [disabled]="isDisable">
        Learn
        <ion-icon name="book"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</div>
