
<div class="multiple-choice-question">
  <div class="question" *ngIf="isTextQuestion(question)">
    {{question.question}}
  </div>
  <i class="fa fa-volume-up question voice" *ngIf="isVoiceQuestion(question)" (click)="playQuestion(question)"></i>
  <div class="option" (click)="select(question, 0)"
    [class.activated]="selectedOption === 0 && question.done">
    <div class="bullet">A</div>
    {{question.options[0]}}
  </div>
  <div class="option" (click)="select(question, 1)"
    [class.activated]="selectedOption === 1 && question.done">
    <div class="bullet">B</div>
    {{question.options[1]}}
  </div>
  <div class="option" (click)="select(question, 2)"
    [class.activated]="selectedOption === 2 && question.done">
    <div class="bullet">C</div>
    {{question.options[2]}}
  </div>
  <div class="option" (click)="select(question, 3)"
    [class.activated]="selectedOption === 3 && question.done">
    <div class="bullet">D</div>
    {{question.options[3]}}
  </div>
</div>
