<div class="audio-setting">
  <button secondary [class.disabled]="!_audioService.isLoop"
    (click)="toggleLoop($event)" [disabled]="!isReady && !audioService.isPlaying">
    <ion-icon name="repeat"></ion-icon>
  </button>
  <button round class="btn-play" [disabled]="!isReady && !audioService.isPlaying"
    (click)="onReady.emit({})">
    {{audioService.isPlaying ? 'Continue' : 'Ready'}}
  </button>
  <button secondary [class.disabled]="!_audioService.isShuffle"
    (click)="toggleShuffle($event)" [disabled]="!isReady && !audioService.isPlaying">
    <ion-icon name="shuffle"></ion-icon>
  </button>
</div>
