.audio-setting {
  border-top: 2px solid #ccc;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  .btn-ready {
    width: 120px;
    margin: 0 20px;
  }

  .disabled {
    opacity: 0.5;
  }
}
