
<ion-navbar *navbar primary>
  <ion-title>
    {{course.title}}
  </ion-title>
  <ion-buttons end>
    <button (click)="presentPopover($event)">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<div class="cover" padding>
  <img [src]="course.icon" class="course-icon" />
  <div class="course-info">
    <h1 class="course-title">{{course.title}}</h1>
    <p class="no-units">3 units</p>
  </div>
</div>
<div class="select-all" padding>
  <input class="btn-select" type="checkbox" item-left (click)="toggleSelectAll()"
    [checked]="selectedUnits.length == units.length" />
  <ion-label class="desc">
    {{selectedUnits.length == units.length ? 'Deselect all' : 'Select all'}}
  </ion-label>
</div>
<ion-content>
  <ion-list [virtualScroll]="units">
    <ion-item-sliding *virtualItem="let unit">
      <ion-item button-primary text-wrap (click)="goToUnit($event, unit)">
        <input class="btn-select" type="checkbox" item-left (click)="checkUnit($event, unit)"
          [checked]="selectedUnits.indexOf(unit.id) >= 0" />
        <ion-badge class="unit-icon" item-left>U{{unit.id}}</ion-badge>
        <ion-label>
          <h2>{{unit.title}}</h2>
          <p>5 words</p>
        </ion-label>
        <ion-spinner item-right name="bubbles" *ngIf="unit.downloading"></ion-spinner>
        <button outline round item-right (click)="downloadUnit($event, unit)"
          *ngIf="!unit.downloading && unit.percentDownloaded < 100">
          <ion-icon name="cloud-download"></ion-icon>
        </button>
        <ion-icon secondary name="checkmark-circle-outline"
          item-right *ngIf="unit.percentDownloaded == 100">
        </ion-icon>
      </ion-item>
      <ion-item-options>
        <button danger (click)="deleteUnit(unit)">
          <ion-icon name="trash" large></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<audio-setting [isReady]="selectedUnits.length > 0"
  (onReady)="audioService.isPlaying ? continuePlaying() : playSelectedList()">
</audio-setting>
