.unit-icon {
  border-radius: 50%;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-detail {
  margin-right: -12px;
  font-size: 22px;
}

.cover {
  background-color: #32db64;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .course-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .course-info {
    .course-title {
      font-size: 30px;
      color: white;
    }

    .no-units {
      font-size: 20px;
      color: #387ef5;
    }
  }
}

ion-item-sliding {
  width: 100%;
}

.btn-select {
  width: 20px;
  height: 20px;
}

.btn-select-all {
  display: flex;
  align-items: center;
}

.desc {
  font-size: 20px;
}
