.unit-icon {
  border-radius: 50%;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-detail {
  margin-right: -12px;
  font-size: 22px;
}

.cover {
  height: 150px;
  font-size: 20px;
  background-color: orange;
}
