.unit-icon {
  border-radius: 50%;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[ion-item] {
  &.selected {
    background-color: #d5d5d5;
  }
}
